# This is a basic workflow that is manually triggered

name: Manual workflow test 1

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'The version of the Release Candidate'
        default: 'v1.0.0'
        required: true
        type: string
      from:
        description: 'The branch (develop) or hash commit to create the new RC from'
        default: 'develop'
        required: true
        type: string        

jobs:
  create_rc:
    runs-on: ubuntu-latest

    steps:
    # - name: Move PRE branch to new RC commit
    #  run:
    #    git checkout pre
    #    git reset --hard ${{ inputs.from }}

    - name: Tag it as a new RC
      run:
        git tag ${{ inputs.version }}
      
