# This is a basic workflow that is manually triggered

name: Manual workflow test 1

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'The version of the Release Candidate'
        default: 'v1.0.0'
        required: true
        type: string
      from:
        description: 'The branch (develop) or hash commit to create the new RC from'
        default: 'develop'
        required: true
        type: string        

jobs:
  create_rc:
    runs-on: ubuntu-latest

    steps:

    - name: Git Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        ssh-key: "{{ secrets.PUSH_KEY }}"
    
    # - name: Move PRE branch to new RC commit
    #  run:
    #    git checkout pre
    #    git reset --hard {{ inputs.from }}

    - name: Commit and push
      run: |
        echo "Test" > Test
        git config user.name github-actions
        git config user.email github-actions@github.com
        git add Test
         git commit -m "Test"
         git push

    - name: Tag it as a new RC
      run: |
        git tag ${{ inputs.version }}
        git push origin tag {{ inputs.version }}
      
